@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
.inter-font {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.merriweather-font {
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* common shared styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container{
  max-width: 1050px;
  margin: auto;
}
/* header and banner related styles */
header{
  border: 2px solid red;
  height: 500px;
}
.banner{
  border: 2px solid blue;
 
}
.banner-content{
  border: 2px solid yellow;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(7, 2, 17, 0)), url('../resources/banner-image.png');
}